.main{
  background-color: rgb(194, 218, 219);
  height:auto;
}

.header {
  text-align: center;
  color: rgb(117, 0, 226);
}

.form {
  padding: 20px;
  margin-top: 20px;
}

.contacts {
  margin-top: 20px;
  border-radius: 10px;
}

.App {
  margin-top: 10%;
  border: 2px solid #888;
  border-radius: 20px;
  padding: 20px;
  
}
.title{
  padding-top: 1.5rem;;
  color: rgb(117, 0, 226);
}


.title,
.subtitle {
  text-align: center;
}
.description {
  padding: 10px;
  padding-left: 200px;
  text-align: justify;
}
.contacts {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.contact-details {
  width: 80%;
}

.icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
}

.icon-holder:hover {
  cursor: pointer;
}

.delete {
  color: #aa0000;
  font-size: 1.5rem;
}
